bin/
obj/
.vs/
.vscode/
*.user
*.suo

# EF Core
*.db
*.sqlite

# Flutter (если в этом же репо)
build/
.dart_tool/
bin/
obj/
.vs/
*.user
*.suo
FlutterApp/build/
FlutterApp/.dart_tool/
FlutterApp/.flutter-plugins
FlutterApp/.flutter-plugins-dependencies
FlutterApp/.packages
FlutterApp/pubspec.lock